//
// FrontendBindMetaAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class FrontendBindMetaAPI {

    /**

     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - parameter completion: completion handler to receive the data and the error objects
     */
    @discardableResult
    open class func frontendBindMetaGetFrontendBindSnapshot(apiResponseQueue: DispatchQueue = OpenAPIClientAPI.apiResponseQueue, completion: @escaping ((_ data: FrontendBindMetaFrontendBindSnapshot?, _ error: Error?) -> Void)) -> RequestTask {
        return frontendBindMetaGetFrontendBindSnapshotWithRequestBuilder().execute(apiResponseQueue) { result in
            switch result {
            case let .success(response):
                completion(response.body, nil)
            case let .failure(error):
                completion(nil, error)
            }
        }
    }

    /**
     - GET /api/_frontend-bind/snapshot
     - returns: RequestBuilder<FrontendBindMetaFrontendBindSnapshot> 
     */
    open class func frontendBindMetaGetFrontendBindSnapshotWithRequestBuilder() -> RequestBuilder<FrontendBindMetaFrontendBindSnapshot> {
        let localVariablePath = "/api/_frontend-bind/snapshot"
        let localVariableURLString = OpenAPIClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<FrontendBindMetaFrontendBindSnapshot>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
